/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  margin-left: 100px;
  height: 85%;
  width: 85%;
}
h2 {
  margin-top: 15px;
  font-family: fantasy;
  width:750px;
  height: 250px;
  color:purple;
}
p{
  margin-top: 15px;
  font-family: cursive;
}
h3{
  color:purple;
  font-family: fantasy;
}
h4{
  font-family: fantasy;
  margin-left: 10px;
}
blockquote{
  font-family: cursive;
}
ul{
  font-family: cursive;
}
