/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

/* set map, body, and html to 100% of the screen size */
#map,
body,
html {
  margin-left: 100px;
  height: 85%;
  width: 85%;
}
h2 {
  margin-top: 15px;
  font-family: 'Times New Roman', Times, serif;
  width:750px;
  height: 250px;
  color:purple;
}
p{
  margin-top: 15px;
  font-family:'Courier New', Courier, monospace;
}
h3{
  color:maroon;
  font-family: 'Times New Roman', Times, serif;
}
h4{
  font-family: 'Times New Roman', Times, serif;
  margin-left: 5px;
}
blockquote{
  font-family: monospace;
}
ul{
  font-family: monospace;
}
.col-md-2{
  margin-right: 35px;

}
